@import '../../vars.css';



.heroContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 200px 12% 0 12%  ;
    gap: 70px;
}

.heroLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    z-index: 1;
}

.heroLeft h1 {
    text-align: center;
}
.heroLeft h1 {
    font-size: 70px;
    background: linear-gradient(
        90deg,
        var(--color-secondary),
        var(--color-primary));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    z-index: 1;
}
.heroLeft p {
    font-size: 30px;
}

.heroImage {
    width: 40%;
    height: auto;
    border-radius: 50%;
    animation-name: floating;
    object-fit: fill;
    z-index: 1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

/* .topBlur {
    position:  absolute;
    width: 50vw;
    height: 50vh;
    min-width: 350px;
    min-height: 350px;
    color:aqua;
    top: -128px;
    left: -10vw;
    background-color: aqua;
    border-radius: 60%;
    background: rgba(25, 55, 109, 0.5);
    filter: blur(100px);
    z-index: -1;

}
.bottomBlur{
    position: absolute;
    width: 60vw;
    height: 70vh;
    min-width: 350px;
    min-height: 250px;
    color:aqua;
    top: 600px;
    right: 20px;
    background-color: aqua;
    border-radius: 60%;
    background: rgba(25, 55, 109, 0.5);
    filter: blur(100px);
    z-index: -1;

} */

/* contact button */
.contactBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 209px;
    height: 73px;
    background: var(--color-primary);
    color: var(--text-color);
    border-radius: 100px;
    font-size: 30px;
    margin-top: 35px;
    overflow: hidden;
    position: relative;
    transition: all 0.02s;
    z-index: 0;
}

.contactBtn a {
    z-index: 999;
}
.contactBtn:hover {
    background-color: rgb(193, 228, 248);
    color: rgb(33, 0, 85);
}
.contactBtn:active {
    transform: scale(0.9);
}
.hoverEffect {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.hoverEffect div {
    background: rgb(22, 0, 75);
    background: linear-gradient(
        90deg,
        rgba(222, 0, 75, 1) 0%,
        rgba(191, 70, 225, 1) 50%,
        rgba(0, 212, 255, 1) 100%
    );
    border-radius: 40rem;
    width: 15rem;
    height: 15rem;
    transform: 0.4s;
    filter: blur(20px);
    animation: effect infinite 3s linear;
    opacity: 0.5;
}

.contactBtn:hover .hoverEffect div {
    width: 15rem;
    height: 15rem;
}

@keyframes effect {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translate(0, -0px);
    }
}



@media screen and (max-width:830px) {
    .heroContainer {
        flex-direction: column-reverse;
        margin: 0px 24px 61px 24px ;

    }
    .heroLeft {
        display: flex;
        justify-content: center!important;
        align-items: center;
        gap: 33px;
    }
    .heroLeft p {
        margin: 0 40px;
        text-align: center;
    }

    .topBlur, .buttonBlur {
        display: none;
    }
}